/* selector { */
    /* propiedad: valor; */
/* } */

* {
    color: black;
}

h1 {
    color: blue;
} 

/* LAS CLASES PUEDEN ABORDAR MUCHOS ELEMENTOS */
.titulo-h2{
    color:palegoldenrod;
}

/* LOS ID DEBEN SER ÚNICOS */
#element{
    color: aqua !important;
}

.contact-form__titulo {
    font-size: 80px;
}