/* selector { */
    /* propiedad: valor; */
/* } */

* {
    color: black;
    font-family: 'Poppins', sans-serif;
    line-height: 2;
    font-weight: 100;
}

h1 {
    color: blue;
} 

/* LAS CLASES PUEDEN ABORDAR MUCHOS ELEMENTOS */
.titulo-h2{
    color:palegoldenrod;
}

/* LOS ID DEBEN SER ÚNICOS */
#parrafo{
    color: brown !important;
}

.contact-form{
    font-size: 10px;
    background-color: white;
    width: 100vw;
    height: 100vw;
}

/* PROPIEDADES DE TEXTO */
.contact-form__titulo { 
    font-size: 3em;
}